@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500&display=swap");

.Header {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 100%;
	background-color: #b5ade6;
}

.Header__Title {
	color: gold;
	text-shadow: 2px 2px 1px black;
	text-align: center;
	border-bottom: black 1px solid;
	margin: 0%;
}

.NavMenu {
	display: flex;
	justify-content: space-evenly;
	padding-top: 5px;
}

.NavMenu__Button {
	background-color: transparent;
	border: none;
	border-radius: 3px;
	font-weight: 500;
	padding: 10px;
}

.NavMenu__Button:hover {
	background-color: rgb(255, 255, 0);
	transition: background-color 0.2s;
}
.NavMenu__Button:active {
	background-color: rgb(255, 255, 62);
}

@media screen and (min-width: 426px) {
	.Header {
		width: 80%;
		justify-content: center;
		align-self: center;
		border-radius: 0px 0px 10px 10px;
	}

	.NavMenu {
		justify-content: center;
		gap: 10px;
	}
}
